<div ng-controller="TagManager.TagDisplayController as vm" ng-class="getSelectedTagsContainerClass()">
    <umb-editor-view>

        <umb-editor-header name="selectedTag"
                           hide-description="true"
                           name-locked="true"
                           hide-alias="true"
                           show-back-button="false"
                           hide-icon="true">
        </umb-editor-header>

        <umb-editor-container>

            <umb-editor-sub-header>

                <umb-editor-sub-header-content-left>
                    <div class="create-button">
                        <button ng-click="navigateToCreateTag()">Create Tag</button>
                    </div>
                </umb-editor-sub-header-content-left>
                <umb-editor-sub-header-content-right>
                    <umb-search-filter model="vm.filter.searchTerm"
                                       label-key="placeholders_filter"
                                       text="Type to filter...">
                    </umb-search-filter>
                </umb-editor-sub-header-content-right>
            </umb-editor-sub-header>


            <!-- Updated the delete button to use uui-dialog -->
            <div class="delete-button-container" ng-show="selectedTags.length > 0">
                <button class="clear-section" ng-click="clearSelection()">
                    Clear Selection
                </button>
                <span class="selected-count">
                    {{ selectedTags.length }} of {{ tags.length }} selected
                </span>
                <uui-dialog ng-show="showConfirmationDialog">
                    <uui-dialog-layout headline="Delete">
                        <p>
                            Are you sure you want to delete
                            <b>
                                {{ selectedTags.length }} tag{{ selectedTags.length > 1 ? 's' : '' }}?
                            </b>
                        </p>
                        <uui-button slot="actions" ng-click="cancelDelete()">Cancel</uui-button>
                        <uui-button slot="actions" look="primary" color="danger" ng-click="confirmDelete()">Yes, delete</uui-button>
                    </uui-dialog-layout>
                </uui-dialog>
                <button class="delete-button" ng-click="showConfirmation()">
                    <i class="icon-trash"></i>Delete
                </button>
            </div>

            <div class="card-container">
                <umb-box ng-repeat="tag in tags | filter: { 'filterName': vm.filter.searchTerm }" class="icon-tag" ng-class="{ 'selected': tag.selected }" ng-click="toggleSelectTag(tag)">
                    <umb-box-content>
                        <a ng-click="navigateToEditTag(tag.id)">
                            <span>{{ tag.name }}</span>
                        </a>
                    </umb-box-content>
                </umb-box>
            </div>
        </umb-editor-container>
    </umb-editor-view>
</div>
