<div ng-controller="TagManager.TagManagerEditController"> 
    <style>
        .umb-editor-container{top:0 !important;}
    </style>
		<umb-editor-view>
            <umb-editor-container class="form-horizontal">
                <umb-box>
					<div class="umb-group-panel__header">
						<div class="float-left w-100 left">
							Edit Tag - {{cmsTags.tag}} ({{cmsTags.noTaggedNodes}})
						</div>
					</div>
                    <umb-box-content>
						<umb-control-group label="Tag Name">
							<input type="text" class="umb-textstring umb-property-editor" ng-model="cmsTags.tag" />                    
							<input type="hidden" ng-model="cmsTags.group" />                    
							<input type="hidden" ng-model="cmsTags.propertytypeid" />
						</umb-control-group>
						<umb-control-group label="Tagged Content">
							<div ng-repeat="taggedDocument in cmsTags.taggedDocuments">
								<a href="{{taggedDocument.DocumentUrl}}">{{taggedDocument.DocumentName}}</a>
							</div>
						</umb-control-group>
						<umb-control-group label="Tagged Media">
							<div ng-repeat="taggedMedia in cmsTags.taggedMedia">
								<a href="{{taggedMedia.DocumentUrl}}">{{taggedMedia.DocumentName}}</a>
							</div>
						</umb-control-group>
						<umb-control-group label="Merge Tags" description="Select a tag to merge this one to">
							<select ng-model="cmsTags.tagsInGroup.selectedItem" ng-options="tag.tag for tag in cmsTags.tagsInGroup.options track by tag.id" name="dropdownList">
								<option value="">Please select</option>
							</select>
						</umb-control-group>
                    </umb-box-content>
                </umb-box>
            </umb-editor-container>
			<umb-editor-footer>
				<umb-editor-footer-content-right>
					<a href="#" class="btn btn-primary" ng-click="save(cmsTags)" prevent-default>Save</a>
					<a style="margin-left:20px;" href="#" class="btn btn-primary" ng-click="deleteTag(cmsTags)" prevent-default>Delete</a>
				</umb-editor-footer-content-right>
			</umb-editor-footer>
		</umb-editor-view>
</div>